@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.slogan {

    position: relative;
    padding: 7rem 0;
    text-align: center;

    .container {
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #FBFAFA;
        padding: 20px;
        border-radius: 50%;
        border: 10px solid #fff;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);

        &::before {
            content: "Hi! I am Ben, your virtual assistant. How can I make your day better?";
            position: absolute;
            width: 260px;
            padding: 10px 20px;
            top: -75px;
            left: -260px;
            background-color: #46B8C8;
            color: #fff;
            border-radius: 40px 40px 0px 40px;
            text-align: left;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            filter: drop-shadow(0px 4px 4px rgba(29, 75, 82, 0.25));
            line-height: 1.25;
        }
    }

    &__title {
        font-size: 40px;
        font-weight: 700;
        color: #FB8958;
        position: relative;
        display: inline-block;

        &::before,
        &::after {
            content: "";
            background: url("../../assets/images/like-image.png") no-repeat;
            background-size: cover;
            width: 60px;
            height: 60px;
            background-position: bottom;
            position: absolute;
            bottom: 10px;
        }

        &::after {
            right: -100px;
        }

        &::before {
            left: -100px;
            transform: rotateY(180deg);
        }
    }
}

@media screen and (max-width: 768px) {
    .slogan {
        padding: 3rem 0;

        &__img {
            display: none;
        }

        &__title {
            font-size: 30px;

            &::before,
            &::after {
                display: none;
            }
        }
    }
}