.slogan2 {
    padding: 3rem 0;
    position: relative;
    text-align: center;

    &__title {
        font-size: 40px;
        font-weight: 700;
        color: #FB8958;
        position: relative;
        display: inline-block;
        max-width: calc(100% - 200px);

        &::before,
        &::after {
            content: "";
            background: url("../../assets/images/like-image.png") no-repeat;
            background-size: cover;
            width: 60px;
            height: 60px;
            background-position: bottom;
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
        }

        &::after {
            right: -100px;
        }

        &::before {
            left: -100px;
            transform: translateY(50%) rotateY(180deg);
        }

    }
}

@media screen and (max-width: 576px) {
    .slogan2 {
        padding: 3rem 0;

        &__img {
            display: none;
        }

        &__title {
            font-size: 30px;
            max-width: 100%;

            &::before,
            &::after {
                display: none;
            }
        }
    }
}
