.values {
    padding: 7rem 0;
    background: #FBFAFA;

    .container {
        position: relative;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__list {
        display: flex;
        margin-top: 5rem;
        gap: 3rem;
        font-size: 30px;

        &--item {
            margin-bottom: 2rem;

            &-title {
                color: #FB8958;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: -1rem;
                    left: 0;
                    width: 50px;
                    height: 2px;
                    background-color: #3D4F5C;
                    border-radius: 5px;
                }
            }

            &-text {
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .values {
        padding: 3rem 0;

        &__list {
            margin-top: 3rem;
            flex-direction: column;
            gap: 1rem;

            &--item {
                margin-bottom: 1rem;
            }
        }
    }
}